* { 
box-sizing: border-box;
}
.square {
	width:400px;
	height:175px;
	background:#F8F8FF;
	position:relative;
	border: 1px solid black;
	 margin: 2em;
}
.small {
	width:175px;
	height:50px;
	position: absolute;
	top:0px;
	right:0px;
	float:right;
	border:1px solid black;
}
#color1 {
	background :#ADD8E6;
}
#color2 {
	background :#5F9EA0;
}
#color3 {
	background:#8FBC8F;
}
.style {
width: 50%; 
height :100px ;
margin-right: 25px ; 
margin-left : 10px; 
font-family: Arial
 ; 
text-align: center;

}
.secondstyle {
width: 100%; 
padding: 20px;
height :100px ;
margin-top:50px;
margin-right: 25px ; 
margin-left : 10px; 
font-family: Arial
 ;

}

h1{
	margin-bottom : 15px;
	text-align: center;
	color: purple;
	font: Helvetica;
}
.row {
	width:100%;
}
@media (min-width:992px) {
.col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
	float:left;
	;
}
.col-lg-1 { width:8.33%; }
.col-lg-2 { width:16.66%; }
.col-lg-3 { width:25%; }
.col-lg-4 { width:33%; }
.col-lg-5 { width:41.66%; }
.col-lg-6 { width:50%; }
.col-lg-7 { width:58.33%; }
.col-lg-8 { width:66.66%; }
.col-lg-9 { width:74.99%; }
.col-lg-10 { width:83.33%; }
.col-lg-11{ width:91.66%; }
.col-lg-12{ width: 100%; }
}

@media(min-width:768px) and (max-width: 991px) {
	#wide{width: 100vw; height: 100vh}
.col-lg-1, .col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 
{float:left;
}

.col-md-1 { width:8.33%; }
.col-md-2 { width:16.66%; }
.col-md-3 { width:25%; }
.col-md-4 { width:33%; }
.col-md-5 { width:41.66%; }
.col-md-6 { width:50%; }
.col-md-7 { width:58.33%; }
.col-md-8 { width:66.66%; }
.col-lmd-9 { width:74.99%; }
.col-md-10 { width:83.33%; }
.col-md-11{ width:91.66%; }
.col-md-12{ width: 100%; }


}
